@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
}
* {
  font-family: Inter, sans-serif;
  transition: all 0.3s;
  outline: none;
  box-sizing: border-box;
}
.app {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  height: 100vh;
  padding: 50px;

  .header {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 0;
    }
  }
  .new-post-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #808080;
    width: 60px;
    height: 60px;

    .pencil-icon {
      font-size: 1.8rem;
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 16px;
  }
  .form-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000086;
    display: grid;
    place-content: center;

    .form {
      width: 500px;
      height: fit-content;
      padding: 40px;
      border-radius: 10px;
      border: none;
      background-color: #21d4fd;
      background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 20px;

      h1 {
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
      }
      .pencil-icon {
        margin-left: 6px;
      }
      input,
      textarea {
        font-size: 1.1rem;
        border: none;
        border-radius: 5px;
        padding: 10px;
        resize: none;
      }
      .button-area {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          width: 160px;
          height: 40px;
          font-size: 1.1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
  .del-msg-container {
    width: 100%;
    height: 100vh;
    background-color: #00000086;
    display: grid;
    place-content: center;
    position: fixed;
    top: 0;
    left: 0;

    .del-msg {
      width: 380px;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      border: none;

      h1 {
        color: red;
        margin: 0;
      }
      p {
        margin: 0;
      }
      .del-btn-div-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 10px 0;

        button {
          width: 140px;
          height: 40px;
          font-size: 1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
        .confirm-del {
          background-color: red;
          color: #fff;
        }
      }
    }
  }
  .all-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: baseline;
    padding: 80px 0;

    .post {
      padding: 20px 20px 40px 20px;
      border-radius: 7px;
      border: none;
      width: 380px;
      max-height: 330px;
      overflow: hidden;
      background-color: #fff;

      .post-head {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .title-text {
          font-size: 1.3rem;
          font-weight: 500;
          margin-bottom: 20px;
          max-width: 290px;
          word-wrap: break-word;
          overflow: hidden;
        }
        .del-btn {
          font-size: 1.6rem;
          width: 36px;
          height: 36px;
          display: grid;
          background-color: red;
          color: #fff;
          border: none;
          border-radius: 50%;
          place-content: center;
        }
      }
      .notes-text {
        word-wrap: break-word;
        overflow-y: auto;
        max-height: 220px;
        background-color: #ebebeb;
        padding: 10px;
        border-radius: 8px;
      }
    }
    .clear-all-div {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 40px 0;

      .clear-all-btn {
        width: 130px;
        height: 40px;
        background-color: red;
        color: #fff;
        border: none;
        border-radius: 8px;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }
  .no-posts {
    * {
      color: #fff;
      text-align: center;
    }
    h2 {
      font-weight: 500;
    }
  }
}

@media (max-width: 500px) {
  .app {
    padding: 50px 10px;

    .form-container {
      .form {
        padding: 40px 15px;
        width: 340px;

        .button-area {
          button {
            width: 120px;
          }
        }
      }
    }
  }
}
