@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
}

* {
  font-family: Poppins, Roboto, sans-serif;
  transition: all 0.3s;
  outline: none;
  box-sizing: border-box;
}

.app {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  min-height: 100vh;
  padding: 50px;
}
.app .header {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .header h1 {
  margin: 0;
}
.app .new-post-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px #808080;
  width: 60px;
  height: 60px;
}
.app .new-post-btn .pencil-icon {
  font-size: 1.8rem;
}
.app ::-webkit-scrollbar {
  width: 8px;
}
.app ::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 16px;
}
.app .form-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5254901961);
  display: grid;
  place-content: center;
}
.app .form-container .form {
  width: 500px;
  height: 580px;
  padding: 40px;
  border-radius: 10px;
  border: none;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
}
.app .form-container .form h1 {
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.app .form-container .form .pencil-icon {
  margin-left: 6px;
}
.app .form-container .form input,
.app .form-container .form textarea {
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}
.app .form-container .form .button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app .form-container .form .button-area button {
  width: 160px;
  height: 40px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.app .del-msg-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5254901961);
  display: grid;
  place-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
.app .del-msg-container .del-msg {
  width: 380px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  border: none;
}
.app .del-msg-container .del-msg h1 {
  color: red;
  margin: 0;
}
.app .del-msg-container .del-msg p {
  margin: 0;
}
.app .del-msg-container .del-msg .del-btn-div-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}
.app .del-msg-container .del-msg .del-btn-div-box button {
  width: 140px;
  height: 40px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.app .del-msg-container .del-msg .del-btn-div-box .confirm-del {
  background-color: red;
  color: #fff;
}
.app .all-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: baseline;
  padding: 80px 0;
}
.app .all-posts .post {
  padding: 20px 20px 40px 20px;
  border-radius: 7px;
  border: none;
  width: 380px;
  max-height: 330px;
  overflow: hidden;
  background-color: #fff;
}
.app .all-posts .post .post-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.app .all-posts .post .post-head .title-text {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
  max-width: 290px;
  word-wrap: break-word;
  overflow: hidden;
}
.app .all-posts .post .post-head .del-btn {
  font-size: 1.6rem;
  width: 36px;
  height: 36px;
  display: grid;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 50%;
  place-content: center;
}
.app .all-posts .post .notes-text {
  word-wrap: break-word;
  overflow-y: auto;
  max-height: 220px;
  background-color: #ebebeb;
  padding: 10px;
  border-radius: 8px;
}
.app .all-posts .clear-all-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.app .all-posts .clear-all-div .clear-all-btn {
  width: 130px;
  height: 40px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}
.app .no-posts * {
  color: #fff;
  text-align: center;
}
.app .no-posts h2 {
  font-weight: 500;
}

@media (width < 500px) {
  .app {
    padding: 50px 10px;
  }
  .app .form-container .form {
    width: 380px;
  }
  .app .form-container .form .button-area button {
    width: 120px;
  }
}/*# sourceMappingURL=index.css.map */